build/
.gradle/
/local.signing.properties
/.idea/
.DS_Store
*.iml
/src/main/obj/
local.properties
local.extra.properties
/bin/
/gen/
/obj/
/buildSrc/build
/codecov.sh
/key/
/StoreStuff/
/keyboard.jks
/issue_template.md
/README.md
/english_dictionary/
/emojis/
/scripts/
/codecov.yml
/circle.yml
/gradle/
/jnidictionaryv1/build/
/nextword/build/
/base/build/
/buildSrc/.gradle/
/buildSrc/build/
/app/build/
/gradle.properties
/gradlew
/gradlew.bat
/jacoco.gradle
